body {
    background: url(../Imagenes/Fondo3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Leelawadee UI;
    
}

p {
    animation-name: cambio;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.tarjeta {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(45 35 30 / .84);
    height: 95%;
    width: 85%;
    max-height: 95%;
    max-width: 85%;
    border: 1px solid gray;
    box-shadow: 0 0 15px rgb(225 225 225);
}

.imagen {
    border: 1px solid gray;
    height: 200px;
    width: 400px;
    max-width: 70%;

}

.primerDiv {
    margin-top: 4px;
    margin-bottom: 4px;
}

.texto{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(191 191 191);
}


@keyframes cambio {
    0% {
        color: rgb(191 191 191);
    }

    25% {
        color: rgb(200 200 200);
    }

    50% {
        color: rgb(235 235 235);
    }

    75% {
        color: rgb(200 200 200);
    }

    100% {
        color: rgb(191 191 191);
    }
}

